<div class="banner">
  <div class="container">
    <h1>maulid rezki</h1>
    <p>full stack engineer</p>
    <br>
    <br>
    <p>github</p>
    <p>linkedin</p>
    <p>email</p>
    <p>resume</p>
    <p> <%= link_to "projects", root_path(anchor: "cardhome"), class: "nav-nav text-decoration-none" %> </p>
  </div>
</div>

<div class="cards" id="cardhome">
  <% @projects.each do |project| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <strong><%= project.name%></strong>
    </div>
  <% end %>
</div>
