.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-color: #f1c2d0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-size: 32px;
  font-weight: bold;
  font-family:-apple-system,'Helvetica Neue';
}

.banner p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
}

.nav-nav a:link {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-nav a:visited {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-nav a:hover {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;

}

.nav-nav a:active {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;

}
