.navbar-lewagon {
  justify-content: space-between;
  background: #f1c2d0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-font {
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}


.nav-font:link {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-font:visited {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-font:hover {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-font:active {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  text-decoration: none;
}
